<div class="container" >

  <table >
    <colgroup span="5"></colgroup>
    <tr id="naglowek">
      <th>Imię</th>
      <th>Nazwisko</th>
      <th>Adres zamieszkania</th>
      <th>Numer telefonu</th>
      <th>Historia usług</th>
    </tr>

    <tr *ngFor="let patient of patients">
      <td>{{patient.name}}</td>
      <td>{{patient.surname}}</td>
      <td>{{patient.city + ", ul." + patient.street }}</td>
      <td>{{patient.phoneNumber}}</td>
      <td><button class="selectbtn" (click)="goToHistory(patient.id)">Historia usług</button></td>
    </tr>

  </table>


</div>
