<div class="tab">
  <button class="tablinks" (click)="changeTab($event, 'doctors', 'services')" id="servBut">Usługi</button>
  <button class="tablinks" (click)="changeTab($event, 'services', 'doctors')" id="doctBut">Lekarze</button>
</div>
<div id="doctors" class="tabcontent">
  <app-button (click)="newDoctorModal.open()" label="Dodaj Nowego Lekarza"></app-button>
  <app-table [data]="doctors" [cellData]="doctorsCellData" [headers]="doctorsHeaders" (operationClick)="deleteDoctor($event)"></app-table>
</div>

<div id="services" class="tabcontent">
  <app-button (click)="newServiceModal.open()" label="Dodaj Nową Usługę"></app-button>
  <div class="services-container">
    <app-table [data]="services" (operationClick)="deleteService($event)" [headers]="servicesHeaders" [cellData]="servicesCellData"></app-table>
  </div>

</div>
<app-new-service (updateEntities)="updateServices()" #newServiceModal></app-new-service>
<app-new-doctor (updateEntities)="updateDoctors()" #newDoctorModal></app-new-doctor>
