<div>
  <div class="container" [formGroup]="reservationForm">
    <h1>Umów wizytę</h1>

    <p>
      Wybierz usługę
    </p>

    <div class="row">
      <select id="usluga" formControlName="serviceId">
        <option *ngFor="let service of services" [value]="service.id">{{service.name}}</option>
      </select>
    </div>

    <div class="calendar">
      <mat-form-field>
        <input matInput [matDatepicker]="pickerFrom" placeholder="Wybierz date" formControlName="from"
               [min]="fromMinDate">
        <mat-datepicker-toggle matSuffix [for]="pickerFrom"></mat-datepicker-toggle>
        <mat-datepicker touchUi #pickerFrom></mat-datepicker>
      </mat-form-field>
      <mat-form-field>
        <input matInput [matDatepicker]="pickerTo" placeholder="Wybierz date" formControlName="to" [min]="toMinDate">
        <mat-datepicker-toggle matSuffix [for]="pickerTo"></mat-datepicker-toggle>
        <mat-datepicker touchUi #pickerTo></mat-datepicker>
      </mat-form-field>
      <button type="submit" class="selectbtn" (click)="findReservations()" [disabled]="reservationForm.invalid">
        Wybierz
      </button>
    </div>
  </div>
  <app-table [data]="appointments" (operationClick)="reserve($event)" [headers]="headers" [cellData]="cellData"></app-table>
</div>
