<div>
  <div class="container">
    <h1>Umów wizytę</h1>

    <p>
      Wybierz usługę
    </p>

    <div class="row">
      <select id = "usluga">
        <option>Opcja 1</option>
        <option>Opcja 2fsgfgsrs</option>
        <option>Opcja 3</option>
      </select>
      <button type="submit" class="selectbtn">Wybierz</button>
    </div>

    <div class="calendar">
      <label for="od">od </label>
      <input type="date" id="od">

      <label for="do"> do </label>
      <input type="date" id="do">
      <button type="submit" class="selectbtn">Wybierz</button>

    </div>
  </div>

  <div class="lekarzitermin">

      <div class="grid-item">
        <h2>Imię Nazwisko</h2>
      </div>
      <div class="grid-item">
        <h5>Poniedziałek</h5>
      </div>
      <div class="grid-item">
        <h5>23/04/2009</h5>
      </div>

      <div class="grid-item">

        <table>
          <tr>
            <td>06:30</td>
            <td>07:00</td>
            <td>07:30</td>
            <td>08:00</td>
        </table>
      </div>


  </div>


</div>
