<div>
  <div class="container" [formGroup]="reservationForm">
    <h1>Umów wizytę</h1>

    <p>
      Wybierz usługę
    </p>

    <div class="row">
      <select id="usluga" formControlName="serviceId">
        <option *ngFor="let service of services" [value]="service.id">{{service.name}}</option>
      </select>
    </div>

    <div class="calendar">
      <mat-form-field>
        <input matInput [matDatepicker]="pickerFrom" placeholder="Wybierz date" formControlName="from"
               [min]="fromMinDate">
        <mat-datepicker-toggle matSuffix [for]="pickerFrom"></mat-datepicker-toggle>
        <mat-datepicker touchUi #pickerFrom></mat-datepicker>
      </mat-form-field>
      <mat-form-field>
        <input matInput [matDatepicker]="pickerTo" placeholder="Wybierz date" formControlName="to" [min]="toMinDate">
        <mat-datepicker-toggle matSuffix [for]="pickerTo"></mat-datepicker-toggle>
        <mat-datepicker touchUi #pickerTo></mat-datepicker>
      </mat-form-field>
      <button type="submit" class="selectbtn" (click)="findReservations()" [disabled]="reservationForm.invalid">
        Wybierz
      </button>
    </div>
  </div>
  <table *ngIf="appointments">
    <colgroup span="5"></colgroup>
    <tr id="naglowek">
      <th>Nazwa usługi</th>
      <th>Data realizacji</th>
      <th>Godzina</th>
      <th>Lekarz</th>
      <th>Operacje</th>
    </tr>

    <tr id="wartosci" *ngFor="let appointment of appointments">
      <td>{{appointment.service.name}}</td>
      <td>{{utils.translateDayToPolish(utils.getDayFromDate(appointment.term)) + " " + utils.formatDate(appointment.term)}}</td>
      <td>{{utils.getTime(appointment.term)}}</td>
      <td>{{appointment.doctor.name + " " + appointment.doctor.surname}}</td>
      <td><button [disabled]="!appointment.free" class="selectbtn" (click)="reserve(appointment)">Zarezerwuj</button></td>
    </tr>

  </table>
</div>
