.row {
  padding-top: 0;
  margin-top: 0;
  width: 40%;
  margin-left: 30%;
}

#usluga
{
  width: 100%
}

.calendar{
  padding-top: 20px;
  margin-top: 0;
  width: 80%;
  padding-left: 10%;
}
.calendar mat-form-field {
  margin: 10px;
}
#od{
  width: 42%;

}
#do{
  width: 42%;
}

.container
{
  height: max-content;
  padding-bottom: 50px;
}


.zdjecie
{
  padding-left: 20px;
  padding-top: 10px;
  height: 60%;
  width: 40%;
  float: left;
}

#doctorimage
{
  width: 80%;
  padding: 0;
  margin: 0;
}

.table, td, td{
  border: 1px solid black;
  padding-top: 1px;
}

.czas p
{
  font-weight: bold;
  margin-bottom: 5px;
  margin-top: 5px;
}

.czas
{
  float: left;
  margin-top: 8px;

}
.term {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}
.term:hover {
  background-color: rgba(43,39,44,0.1);
  cursor: pointer;
}
.term[disabled] {
  background-color: rgba(43,39,44,0.1);
  cursor: default;
}
