<div class="container">

  <h1>Potwierdź rejestrację</h1>


  <div class="tabelka">
    <table>
      <tr>
        <th>Imię</th>
        <td>Bill</td>
      </tr>
      <tr>
        <th>Nazwisko</th>
        <td>Gates</td>
      </tr>
      <tr>
        <th>Usługa</th>
        <td>EKG</td>
      </tr>
      <tr>
        <th>Lekarz</th>
        <td>Piotr</td>
      </tr>
      <tr>
        <th>Termin</th>
        <td>22/11/2019</td>
      </tr>
    </table>
  </div>


  <div class="buttons">
    <button type="submit" class="selectbtn">Potwierdź</button>

  </div>



</div>
