<h1 mat-dialog-title>Potwierdź rejestrację</h1>
<mat-dialog-content align="center">
  <div>
    <table>
      <tr>
        <th>Usługa</th>
        <td>{{data.service.name}}</td>
      </tr>
      <tr>
        <th>Lekarz</th>
        <td>{{data.doctor.name + " " + data.doctor.surname}}</td>
      </tr>
      <tr>
        <th>Termin</th>
        <td>{{utils.formatDate(data.term)}}</td>
      </tr>
      <tr>
        <th>Godzina</th>
        <td>{{utils.getTime(data.term)}}</td>
      </tr>
    </table>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button type="submit" class="selectbtn" (click)="acceptReservation()">Potwierdź</button>
  <button type="submit" class="selectbtn" mat-dialog-close>Anuluj</button>
</mat-dialog-actions>
