.confirm-container {
  width: 50%;
  display: grid;
  grid-template-columns: auto auto;
  grid-row-gap: 10px;
  margin: 0 auto 0 auto;
}
:host-context(.blue-theme) span{
  color: #15375A;
}

:host-context(.yellow-theme) span {
  color: black;
}
