<app-modal *ngIf="data" [openEvent]="openSubject" [header]="modalHeader" [body]="modalBody" [footer]="modalFooter"
           #modal modalId="confirmation"></app-modal>
<ng-template #modalHeader>
  <h2>Potwierdź rejestrację</h2>
</ng-template>
<ng-template #modalBody>
  <div class="confirm-container">
    <span>Usługa</span>
    <span>{{data.service.name}}</span>
    <span>Lekarz</span>
    <span>{{data.doctor.name + " " + data.doctor.surname}}</span>
    <span>Termin</span>
    <span>{{utils.formatDate(data.term)}}</span>
    <span>Godzina</span>
    <span>{{utils.getTime(data.term)}}</span>
  </div>
</ng-template>
<ng-template #modalFooter>
  <app-button label="Potwierdź" (click)="acceptReservation()"></app-button>
</ng-template>
