
table, th, td {
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  border-collapse: collapse;
}

th, td {
  padding: 15px;
  text-align: center;
}

td{
  padding-left: 60px;
}

.buttons{

  margin-left: 60px;
  width: 260px;
}


th{
  background: none;
  color: black;
}
