 <div class="container">

    <h1>Dane Personalne</h1>

<div class="tabelka">
  <table>
    <tr>
      <th>Imię</th>
      <td>Bill</td>
    </tr>
    <tr>
      <th>Nazwisko</th>
      <td>Gates</td>
    </tr>
    <tr>
      <th>E-mail</th>
      <td>Bill.Gates@mail.com</td>
    </tr>
    <tr>
      <th>Nr telefonu</th>
      <td>123456789</td>
    </tr>
    <tr>
      <th>Adres zamieszkania</th>
      <td>Nazwa Ulicy, 69<br>
          indeks, miasto<br>
          kraj
      </td>
    </tr>
  </table>
</div>


<div class="buttons">
    <button type="edit" class="selectbtn">Edytuj</button>
    <button type="submit" class="selectbtn">Potwierdź</button>

</div>





  </div>
