.personal-data-cont div {
  width: 50%;
  margin: 0 auto 0 auto;
}

:host-context(.blue-theme) .personal-data-cont {
  color: #15375A;
  background-color: white;
}

:host-context(.yellow-theme) .personal-data-cont {
  color: black;
  background-color: yellow;
}

:host-context(.black-white-theme) .personal-data-cont {
  color: white;
  background-color: black;
}

:host-context(.black-yellow-theme) .personal-data-cont {
  color: yellow;
  background-color: black;
}

.buttons {
  padding-bottom: 20px;
}

:host-context(.font-size-small) .hd {
  font-size: 32px;
}

:host-context(.font-size-medium) .hd {
  font-size: 34px;
}

:host-context(.font-size-big) .hd {
  font-size: 36px;
}
