 <div class="container">

    <h1>Dane Personalne</h1>

<div class="tabelka" *ngIf="userDetails">
  <table [formGroup]="userDetailsForm">
    <tr>
      <th>Imię</th>
      <td><input formControlName="name"></td>
    </tr>
    <tr>
      <th>Nazwisko</th>
      <td><input formControlName="surname"></td>
    </tr>
    <tr>
      <th>E-mail</th>
      <td><input formControlName="email"></td>
    </tr>
    <tr>
      <th>Nr telefonu</th>
      <td><input formControlName="phoneNumber"></td>
    </tr>
    <tr>
      <th>Miasto</th>
      <td><input formControlName="city"></td>
    </tr>
    <tr>
      <th>Ulica</th>
      <td><input formControlName="street"></td>
    </tr>
    <tr>
      <th>Mieszkanie</th>
      <td><input formControlName="flatNumber"></td>
    </tr>
    <tr>
      <th>Kod pocztowy</th>
      <td><input formControlName="zipCode"></td>
    </tr>
  </table>
</div>


<div class="buttons">
    <button class="selectbtn" [disabled]="!disableFields" (click)="editDetails()">Edytuj</button>
    <button type="submit" class="selectbtn" [disabled]="disableFields" (click)="updateDetails()">Potwierdź</button>
</div>





  </div>
