<div class="personal-data-cont">
  <div *ngIf="userDetails">
    <h1>Dane Personalne</h1>
    <div [formGroup]="userDetailsForm">
      <app-input controlName="name" [parentForm]="userDetailsForm" label="Imię"></app-input>
      <app-input controlName="surname" [parentForm]="userDetailsForm" label="Nazwisko"></app-input>
      <app-input controlName="email" [parentForm]="userDetailsForm" label="E-mail"></app-input>
      <app-input controlName="phoneNumber" [parentForm]="userDetailsForm" label="Numer telefonu"></app-input>
      <app-input controlName="city" [parentForm]="userDetailsForm" label="Miasto"></app-input>
      <app-input controlName="street" [parentForm]="userDetailsForm" label="Ulica"></app-input>
      <app-input controlName="flatNumber" [parentForm]="userDetailsForm" label="Mieszkanie"></app-input>
      <app-input controlName="zipCode" [parentForm]="userDetailsForm" label="kod-pocztowy"></app-input>
    </div>
  </div>

  <div>
    <app-button [disabled]="!disableFields" (click)="editDetails()" label="Edytuj"></app-button>
    <app-button label="Potwierdź" [disabled]="disableFields" (click)="updateDetails()"></app-button>
  </div>
</div>
