.personal-data-cont div {
  width: 50%;
  margin: 0 auto 0 auto;
}
:host-context(.blue-theme) .personal-data-cont {
  color: #15375A;
  background-color: white;
}
:host-context(.yellow-theme) .personal-data-cont {
  color: black;
  background-color: yellow;
}
