.table-container {
  margin: 0 auto 0 auto;
  width: 80vw;
  padding-top: 20px;
  padding-bottom: 20px;
}
.table-container table {
  margin: 20px auto 20px auto;
}

.table-container table, th {
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  border-collapse: collapse;
  align-self: center;
}

.table-container th {
  padding: 25px 70px;
}

.table-container td {
  text-align: center;
  padding: 25px;
}

.table-container tr {
  border-bottom: 1px solid black;
}

:host-context(.blue-theme) .button-theme {
  background-color: #171B34;
  color: #ffffff;
  border: 1px solid #15375A;
}
:host-context(.yellow-theme) .button-theme {
  background-color: black;
  color: white;
  border: 1px solid white;
}

:host-context(.yellow-theme) .button-theme[disabled] {
  background-color: lightgrey;
  cursor: default;
}
:host-context(.blue-theme) .button-theme[disabled] {
  background-color: lightgrey;
  cursor: default;
}
:host-context(.blue-theme) .table-header-theme {
  background: #15375A;
  color: #ffffff;
}
:host-context(.yellow-theme) .table-header-theme {
  background-color: black;
  color: white;
}
:host-context(.yellow-theme) td {
  color: black;
}
:host-context(.blue-theme) td {
  color: #15375A;
}
:host-context(.yellow-theme) .table-theme {
  background-color: yellow;
}
:host-context(.blue-theme) .table-theme {
  background-color: white;
}
