<div class="table-container table-theme" *ngIf="data">
  <table>
    <tr>
      <th *ngFor="let header of headers" class="table-header-theme">{{header}}</th>
    </tr>
    <tr *ngFor="let d of data">
      <td *ngFor="let c of cellData">
        <span *ngIf="c.type!==CellType.BUTTON">{{getValueForCell(d, c)}}</span>
        <app-button *ngIf="c.type===CellType.BUTTON" (click)="buttonClicked(d)" [disabled]="c.disabled(d)"
                    [label]="getValueForCell(d, c)"></app-button>
      </td>
    </tr>
  </table>
</div>
