div {
  min-height: calc(100vh - 50px);
}

app-footer {
  height: 50px;
}

:host-context(.blue-theme) div {
  background-color: white;
}

:host-context(.yellow-theme) div {
  background-color: yellow;
}

:host-context(.black-white-theme) div {
  background-color: black;
}

:host-context(.black-yellow-theme) div {
  background-color: black;
}
