div {
  min-height: calc(100vh - 50px);
}
app-footer {
  height: 50px;
}
:host-context(.blue-theme) div {
  background-color: white;
}
:host-context(.yellow-theme) div {
  background-color: yellow;
}
