<app-modal [openEvent]="openSubject" [header]="modalHeader" [body]="modalBody" [footer]="modalFooter" #modal modalId="new-service"></app-modal>
<ng-template #modalHeader>
  <h2>Dodaj nową usługę</h2>
</ng-template>
<ng-template #modalBody>
  <div [formGroup]="serviceForm">
    <app-input controlName="name" [parentForm]="serviceForm" label="Nazwa"></app-input>
  </div>
</ng-template>
<ng-template #modalFooter>
  <app-button (click)="addService()" [disabled]="serviceForm.invalid" label="Potwierdź"></app-button>
</ng-template>

