<div>

    <div class="container">
      <h1>Witamy w Panelu Placówki ORZO</h1>
      <p>Zaloguj się lub <a href="#">Zarejestruj się</a></p>
      <input type="text" placeholder="E-mail" name="email" required>
      <input type="password" placeholder="HasĹ‚o" name="psw" required>
      <button type="submit" class="registerbtn">Zaloguj się</button>
      <p class="terms">By creating an account you agree to our <a href="#">Terms & Privacy</a>.</p>
      <div class="resetpsw">
        <p>Nie pamiętasz hasła?</p>
        <p><a href="#">Zresetuj hasło</a></p>
      </div>
      <div class="registration">
        <p>Nie masz konta?</p>
        <p><a href="#">Zarejestruj się</a></p>
      </div>
    </div>
</div>
