<div>
    <div class="container" [formGroup]="loginForm">
      <h1>Witamy w Panelu Placówki ORZO</h1>
      <p>Zaloguj się lub <a routerLink="/registration">Zarejestruj się</a></p>
      <input type="text" placeholder="E-mail" formControlName="username">
      <input type="password" placeholder="Hasło" formControlName="password">
      <button type="submit" class="registerbtn" (click)="login()" [disabled]="loginForm.invalid">Zaloguj się</button>
      <p class="terms">By creating an account you agree to our <a routerLink="/terms">Terms & Privacy</a>.</p>
      <div class="resetpsw">
        <p>Nie pamiętasz hasła?</p>
        <p><a routerLink="/reset-password">Zresetuj hasło</a></p>
      </div>
      <div class="registration">
        <p>Nie masz konta?</p>
        <p><a routerLink="/registration">Zarejestruj się</a></p>
      </div>
    </div>
</div>
