

#bottomnav
{
  text-align: center;
  padding: 10px;
  padding-bottom: 0px;

}

.bottommenu
{
  list-style-type: none;
  margin: 0px;
  padding: 10px;
  font-size: 14px;
  min-height: 38px;
  line-height: 200%;
}


.contact
{
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  font-size: 12px;
}

.contact > li
{
  display: inline-block;
  padding-left: 1px;
  padding-right: 1px;
}


