#bottomnav {
  text-align: center;
  padding: 10px;

}

.bottommenu {
  list-style-type: none;
  margin: 0;
  padding: 10px;
  font-size: 14px;
  min-height: 38px;
  line-height: 200%;
}

.contact {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 12px;
}

.contact > li {
  display: inline-block;
  padding-left: 1px;
  padding-right: 1px;
}

:host-context(.blue-theme) #footer {
  background-color: #1E2B3A;
}

:host-context(.yellow-theme) #footer {
  background-color: black;
}
#footer {
  text-align: center;
}
#footer p {
  color: #ffffff;
  font-size: 12px;
  display: inline;
  font-weight: 600;

}
