<div id="footer">
  <nav id="bottomnav">
    <ul class="bottommenu">
      <li><a href="#">Strona Przychodni ORZO</a></li>
      <li><a href="#">Rezerwacja wizyty</a></li>
      <li><a href="#">Regulamin</a></li>
      <li><a href="#">Polityka PrywatnoĹ›ci</a></li>
    </ul>
  </nav>

  <ul class="contact">
    <li><p>Adres: 00-123 Warszawa, Pl. Politechniki, 1 </p></li>
    <li><p>| e-mail: alina.strotska@gmail.com </p></li>
    <li><p>| tel.: +48 423 284 123</p></li>

  </ul>

  <p>© Copyright by Alina Strotska</p>
</div>
