<div id="footer">
  <nav id="bottomnav">
    <ul class="bottommenu">
      <li><a href="#">Strona Przychodni ORZO</a></li>
      <li><a href="#">Rezerwacja wizyty</a></li>
      <li><a href="#">Regulamin</a></li>
      <li><a href="#">Polityka PrywatnoĹ›ci</a></li>
    </ul>
  </nav>

  <ul class="contact">
    <li><p>Adres: </p><a href="#">00-123 Warszawa, Pl. Politechniki, 1 </a></li>
    <li><p>| e-mail: </p><a href="#">alina.strotska@gmail.com </a></li>
    <li><p>| tel.: </p><a href="#">+48 423 284 123</a></li>

  </ul>

  <p>Â© Copyright by Alina Strotska</p>
</div>
