<app-modal [openEvent]="openSubject" [header]="modalHeader" [body]="modalBody" [footer]="modalFooter" #modal modalId="new-doctor"></app-modal>
<ng-template #modalHeader>
  <h2>Dodaj Nowego Lekarza</h2>
</ng-template>
<ng-template #modalBody>
  <div [formGroup]="doctorForm">
    <app-input [parentForm]="doctorForm" controlName="name" id="name" label="Imie"></app-input>
    <app-input controlName="surname" [parentForm]="doctorForm" id="surname" label="Nazwisko"></app-input>
  </div>
</ng-template>
<ng-template #modalFooter>
  <app-button (click)="addDoctor()" [disabled]="doctorForm.invalid" label="Potwierdź"></app-button>
</ng-template>
