.container
{
  padding: 5px;
  margin: 75px;
  width: 90%;
  height: 330px;
  margin-left: 5%;
  padding-bottom: 50px;
  border: none;
  box-shadow: none

}

table, th{
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  border-collapse: collapse;
  margin: 40px;
  margin-left: 70px;
  align-self: center;


}

th{
  padding: 25px 70px;
}

td{
  text-align: center;
  padding: 25px;
}
