/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
body
{ background-color: white;
  font-family: 'Open Sans',sans-serif;
  font-size: 16px;
  color: #15375A;
  margin: 0px;
}


p.addmenu
{
  font-color: #171B34;
  font-size: 13px;
  align: left;
  margin: 0px;
  padding: 5px;
  padding-left: 10px;

}


.lang a
{
  color: #15375A;
  text-decoration: none;
}
.lang> li:first-child
{
  padding-left: 10px;
}

#menusection
{
  background-color: #314455;

  height: 40px;
  margin-top: 5px;
padding-bottom: 10px;
  padding-right: 7%;
  border-top: 1.5px solid #15375A;
  border-bottom: 1.5px solid #15375A;
}



.menu a
{
  color: #ffffff;
  text-decoration: none;
}


.container {
  background-color: #F5F6F7;
  padding: 16px;
  margin: 75px;
  width: 37%;
  height: 330px;
  margin-left: 30%;
  border-radius: 5px;
  border: 0.5px solid #15375A;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.19);
}


input[type=text], input[type=password]
{
  height: 5px;
  width: 87%;
  padding: 15px;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #15375A;
  border-radius: 10px;
  font-size: 15px;
}


.container h1
{
  margin-bottom: 0px;
  color: #15375A;
  font-size: 23px;
  text-align: center;

}

.container p
{
  margin-top: 3px;
  color: #15375A;
  text-align: center

}


.registerbtn {
  background-color: #C96567;
  color: #ffffff;
  font-size: 15px;
  text-transform: uppercase;
  display: block;
  margin-top: 15px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 20px;

  cursor: pointer;
  width: 95%;
  opacity: 1;
  border-radius: 5px;
  border-bottom-left-radius: 0px;
}

a
{
  color: dodgerblue;
}


#footer
{
  display: block;
  background-color: #1E2B3A;
  text-align: center;
  margin: 0px;
  padding-bottom: 15px;
}


.bottommenu > li
{
  display: inline-block;

  padding-left: 20px;
  padding-right: 20px;
  border-right: 1px solid #ffffff;
}

.bottommenu > li:first-child
{
  border-left: 1px solid #ffffff;
}

.bottommenu a
{
  color: #ffffff;
  text-decoration: none;
}



.contact a
{
  color: #ffffff;
  text-decoration: none;
}
#footer p
{
  color: #ffffff;
  font-size: 12px;
  display: inline;
  padding-top: 5px;
  font-weight: 600;

}

.selectbtn{
  background-color: #171B34;
  color: #ffffff;
  font-size: 12px;
  text-transform: uppercase;
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px 10px;
  border: 1px solid #15375A;
  cursor: pointer;
  width: 100%;
  opacity: 1;
  border-radius: 5px;
  border-bottom-left-radius: 0px;
}



.lekarzitermin{
  background-color: #F5F6F7;
  padding: 15px;
  margin: 75px;
  margin-left: 100px;
  padding-left: 35px;
  width: 35%;
  height: 180px;
  border-radius: 20px;
  border: 0.5px solid #15375A;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

th{
  background: #15375A;
  color: #ffffff;
}

button[disabled] {
  background-color: lightgrey;
  cursor: default;
}
