.row {
  padding-top: 0;
  margin-top: 0;
  width: 30%;
  float: left;
  padding-left: 15%;
}

.usluga
{
  width: 100%
}

.calendar{
  width:30%;
  float: left;
  padding-left: 10%;
}

.container
{
  height: max-content;
  padding-bottom: 30px;
  width: 60%;
  margin-left: 20%;
  height: 100px;
  padding-top: 25px;
  margin-bottom: 10px;
}

.lekarzitermin{
  padding: 15px;
  margin-top: 20px;
  margin-left: 10%;
  width: 15%;
  height: 300px;
  text-align: center;
}

.timetable{
  padding-left: 50px;
}
table {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

table, th{
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  border-collapse: collapse;
  align-self: center;
}

th{
  padding: 25px 70px;
}

td{
  text-align: center;
  padding: 25px;
}
tr {
  border-bottom: 1px solid black;
}
