<div>
  <div class="container">

    <div class="row">
      <p>
        Wybierz usługę
      </p>
      <select id = "usluga">
        <option>Opcja 1</option>
        <option>Opcja 2fsgfgsrs</option>
        <option>Opcja 3</option>
      </select>
      <button type="submit" class="selectbtn">Wybierz</button>
    </div>

    <div class="calendar">
      <p>
        Wybierz termin
      </p>
      <input type="date" id="usluga">
      <button type="submit" class="selectbtn">Wybierz</button>
    </div>

</div>

  <div class="lekarzitermin">

    <h2>Lekarz</h2>
    <p>Poniedziałek<br>

    22.02.2019</p>
    <table class="timetable">
      <td>
        <tr>06:30</tr>
        <tr>07:00</tr>
        <tr>07:30</tr>
        <tr>08:00</tr>
        <tr>06:30</tr>
        <tr>07:00</tr>
        <tr>07:30</tr>
        <tr>08:00</tr>
      </td>

      <td>
        <tr>pacjent</tr>
        <tr>pacjent</tr>
        <tr>pacjent</tr>
        <tr>pacjent</tr>
        <tr>pacjent</tr>
        <tr>pacjent</tr>
        <tr>pacjent</tr>
        <tr>pacjent</tr>

      </td>

    </table>

   </div>

</div>

