<div class="calendar-container">
  <div [formGroup]="calendarForm" class="controls-container">
    <app-select [parentForm]="calendarForm" controlName="serviceId" [options]="services" valuePath="id"
                [optionLabelType]="OptionLabelTypes.NAME" label="Wybierz usługę"></app-select>
    <app-datepicker [parentForm]="calendarForm" controlName="date" placeholder="Wybierz date"
                    [minDate]="minDate"></app-datepicker>
  </div>
  <app-button label="Wybierz"
              [disabled]="calendarForm.controls['serviceId'].invalid && calendarForm.controls['date'].invalid"
              (click)="findAppointments()"></app-button>
  <app-table [data]="appointments" [headers]="headers" [cellData]="cellData"></app-table>
</div>
