.container {
  width: 70%;
  height: auto;
  margin-left: 15%;
}

.inputs-grid {
  display: grid;
  grid-template-columns: auto auto;
}

.error {
  font-size: 10px;
  margin-left: 10px;
}

.red {
  color: red;
}

.input-message {
  display: grid;
  grid-template-rows: auto auto;
}

:host-context(.font-size-small) .error {
  font-size: 10px;
}

:host-context(.font-size-medium) .error {
  font-size: 14px;
}

:host-context(.font-size-big) .error {
  font-size: 18px;
}
