<div>
  <div class="container">
    <p>Posiadasz konto? Prosimy o <a routerLink="/">Zalogowanie</a></p>
    <p>Nie posiadasz konta? Zarejestruj się:</p>

    <div class=" inputs-grid">
      <input type="text" placeholder="Imię">
      <input type="text" placeholder="Nazwisko">
      <input type="text" placeholder="Pesel">
      <input type="text" placeholder="Nr telefonu (9 cyfr)">
      <input type="text" placeholder="Nr domu">
      <input type="text" placeholder="Nr mieszkania">
      <input type="text" placeholder="Ulica">
      <input type="text" placeholder="Miasto">
      <input type="text" placeholder="Kod pocztowy">
      <input type="text" placeholder="E-mail">
      <input type="text" placeholder="Hasło">
      <input type="text" placeholder="Potwierdź Hasło">
    </div>
    <button type="submit" class="registerbtn">Zarejestruj się</button>



  </div>
</div>
