<div class="table-container">
  <div class="controls-container" [formGroup]="doctorForm">
    <app-select label="Wybierz lekarza:"
                [options]="doctors"
                valuePath="id"
                [parentForm]="doctorForm"
                controlName="doctor"
                (change)="doctorChanged($event.target.value)"
                [optionLabelType]="OptionLabelTypes.FULLNAME"></app-select>
    <app-select label="Wybierz usługę"
                [options]="services"
                valuePath="id"
                [parentForm]="doctorForm"
                controlName="service"
                [optionLabelType]="OptionLabelTypes.NAME"></app-select>
  </div>
  <app-table [data]="appointments" [headers]="headers" [cellData]="cellData" (operationClick)="add($event)"></app-table>
</div>


