.table-container .controls-container {
  display: grid;
  grid-template-columns: auto auto;
  margin: 20px auto 20px auto;
  width: 50vw;
}
:host-context(.blue-theme) .table-container{
  background-color: white;
  color: #15375A;
}
:host-context(.yellow-theme) .table-container {
  background-color: yellow;
  color: black;
}
